$font-accent: #494f54;
$accent: #87ceeb;
$bg: #ececec;

%raleway-400 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

%raleway-500 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

%raleway-700 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}